body {
  /*background-image: url("images/header.png");*/
  background-image: ;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0;
  background-color: linear-gradient(red, pink, white);
}
